title: EEG101 - Fundamentals of Open & Rigorous EEG Science
email: robert.oostenveld@donders.ru.nl
description: EEG101 COST Action
baseurl: ""
url: https://www.eeg101.eu
logo: /assets/images/logo-v2.png

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - CNAME
  - STRUCTURE.md
  - LICENSE.md
  - README.md
  - '**/README.md'

